--- 
title: Miscellaneous Test
tags: test
code_mode: math|lang
---

:redcarpet
  本文是为了测试博客的一些边缘特性，如

  * 中文
  * 数学公式与语法高亮混合
  * haml与makrdown混合
  * markdown表格
  * ...

  * http://www.tug.org/texshowcase/

  $y = x^2 \hbox{ when $x > 2$}$

  When $a \ne 0$, there are two solutions to $ax^2 + bx + c = 0$ and they are
  $$x = {-b \pm \sqrt{b^2-4ac} \over 2a}.$$

  `$y = x^2 \hbox{ when $x > 2$}$`

  ```no-highlight
  When $a \ne 0$, there are two solutions to \(ax^2 + bx + c = 0\) and they are
  $$x = {-b \pm \sqrt{b^2-4ac} \over 2a}.$$
  ```

  ```tex
  When $a \ne 0$, there are two solutions to \(ax^2 + bx + c = 0\) and they are
  $$x = {-b \pm \sqrt{b^2-4ac} \over 2a}.$$
  ```
%div.table.table-bordered.table-striped.table-condensed
  :redcarpet
    | 为什么  |   然而           |          但是     |         
    |:--------|:----------------:|------------------:|
    |可以     |   拒绝           |      选择         |        
