---
title: Home
---
-# coding: utf-8
%section.calendar    
  - blog('writings').articles.sort_by { |a| a.source_file }.reverse.each do |article|
    .post
      %h2
        %a{:href => article.url}
          =article.data['title']
      %div
        =article.app.render_template(article.source_file)
