@import url(bootstrap_etc.css);
/* line 2, W:/SVN/AleviaSpace/projects/utensil.github.com/source/stylesheets/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
